a {
  color: #515567;
  text-decoration: none;
  text-shadow: 0 2px 0 #ffffff;
}
a:hover {
  color: #ef0000;
}
li {
  list-style: none;
  text-align: left;
  line-height: 40px;
}
#outer {
  position: relative;
  width: 100%;
  top: 29%;
}
